:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

.top-section {
  margin-left: auto;
  margin-right: auto;
}

.cards-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 2rem;
}

.characters-section {
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 0.5rem;
}